# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#

# Ignored by the build system
/setup.cfg

# dirs
.venv
.git
.husky
.vscode
node_modules
__pycache__/
public
src
sql

# files
.eslintignore
.eslintrc.js
.gcloudignore
.gitignore
.prettierignore
.prettierrc
package-lock.json
package.json
README.md

# take this off the .gcloudignore list to make changes
config.json
